
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-46 {
        padding: var(--sectionPadding);
        position: relative;
    }
    #gallery-46 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #gallery-46 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }

    #gallery-46 .cs-image-group {
        width: 100%;
        margin: 0;
        display: grid;
        place-content: center;
        grid-template-columns: repeat(12, 1fr);
        /* 158px - 304px */
        grid-template-rows: 1fr;
        /* 8px - 20px */
        gap: clamp(0.5rem, 1.5vw, 1.25rem);
    }
    #gallery-46 .cs-item {
        width: 100%;
        margin: 0;
        aspect-ratio: 1;
        grid-column: span 6;
        display: block;
        position: relative;
        /* prevents image from overflowing the container on hover */
        overflow: hidden;
    }
    #gallery-46 .cs-item:hover .cs-picture img {
        transform: scale(1.1);
    }
    #gallery-46 .cs-item:hover .cs-hover-box {
        opacity: 1;
        pointer-events: all;
    }
    #gallery-46 .cs-item:hover .cs-heading3 {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-46 .cs-item:hover .cs-subtitle {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-46 .cs-item:hover .cs-link {
        opacity: 1;
        /* Return to original position */
        transform: translateY(0);
    }
    #gallery-46 .cs-picture {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #gallery-46 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.6s;
    }
    #gallery-46 .cs-item-1 {
        grid-column: 1 / span 12;
        grid-row: 1 / 2;
        aspect-ratio: 2.07594937;
    }
    #gallery-46 .cs-item-5 {
        grid-column: 7 / span 6;
        grid-row: 3 / span 2;
        aspect-ratio: initial;
    }
    #gallery-46 .cs-hover-box {
        height: 100%;
        width: 100%;
        padding: 1rem 0.625rem;
        opacity: 0;
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* Prevents padding from adding to the height & width */
        box-sizing: border-box;
        transition: opacity 0.3s;
        /* prevent it from interacting with the mouse so we can add a hover
            effect on the cs-item parent */
        pointer-events: none;
        position: relative;
    }
    #gallery-46 .cs-hover-box:before {
        /* top right box */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.9;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }
    #gallery-46 .cs-heading3 {
        /* 16px - 20px */
        font-size: clamp(1rem, 5vw, 1.25rem);
        line-height: 1.2em;
        margin: 0;
        margin-bottom: 0.75rem;
        color: var(--bodyTextColorWhite);
        opacity: 0;
        /* starting point is 10px down from its original point */
        transform: translateY(0.625rem);
        transition:
            opacity 0.3s,
            transform 0.5s;
    }
    #gallery-46 .cs-subtitle {
        /* 13px - 15px */
        font-size: clamp(0.8125rem, 5vw, 0.9375rem);
        line-height: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        /* Pushes the link to the bottom of the flexbox */
        margin-bottom: auto;
        color: var(--bodyTextColorWhite);
        opacity: 0;
        /* starting point is 10px down from its original point */
        transform: translateY(0.625rem);
        display: block;
        transition:
            opacity 0.3s,
            transform 0.5s;
        transition-delay: 0.1s;
    }
    #gallery-46 .cs-link {
        font-size: 0.9375rem;
        line-height: 1.5em;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        opacity: 0;
        /* starting point is 10px down from its original point */
        transform: translateY(0.625rem);
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition:
            opacity 0.3s,
            transform 0.5s;
        transition-delay: 0.3s;
    }
    #gallery-46 .cs-link:hover:before {
        width: 100%;
    }
    #gallery-46 .cs-link:before {
        content: "";
        position: absolute;
        display: block;
        height: 0.125rem;
        width: 0%;
        background: currentColor;
        opacity: 1;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #gallery-46 .cs-link svg {
        margin-right: 0.5rem;
    }
    #gallery-46 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #gallery-46 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #gallery-46 .cs-button-solid:hover:before {
        width: 100%;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-46 .cs-item {
        grid-column: span 3;
    }
    #gallery-46 .cs-item-1 {
        grid-column: 1 / span 6;
    }
    #gallery-46 .cs-item-2 {
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    #gallery-46 .cs-item-3 {
        grid-column: 4 / span 3;
        grid-row: 2;
    }
    #gallery-46 .cs-item-5 {
        grid-column: 7 / span 3;
        grid-row: 2;
    }
    #gallery-46 .cs-item-6 {
        grid-column: 10 / span 3;
        grid-row: 1 / span 2;
        aspect-ratio: initial;
    }
}

/*Gallery*/

.mobile-nav {
    max-width: 100%;
}

section {
    padding: 100px 10px;
}

p {
    font-size: 1em;
}

h2{
    margin-block-end: 60px;
}


/* Hidden Elements */
.mobile-wrapper,
.nav-comb {
    display: none !important;
}

/* Un-Hidden Elements */
.side-nav a {
    opacity: 1;
    visibility: visible;
    font-family: Arial, Helvetica, sans-serif;
}

.quote-nav-button {
    display: block;
}

.layoutContainer{
    width: 1248px;
   /* border: 1px solid black;*/

    /*Test*/
    margin-left: 120px;
}


.container {
    max-width: 723px;
    margin-left: 15px;
   /* border: 1px solid black; */
    border-bottom: none;
}

.navbar-menu img {
    display: block;
    margin: 0 !important;
    position: absolute;
    left: 10px;
    height: auto;
    width: 220px;
    top: 40px;
}

/*navbar */
nav {
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
}

.navbar-menu {
    width: 100%;
    min-height: 100px;
    height: 153px;
    margin: auto;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
    left: 0;
    background: transparent;
    overflow: visible;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1200px;
}

/* Buttons */

.button-solid{
    width: 300px;
    height: 86px;
    background-color: #333333;
    font-size: 32px;
    color: #FEFEFE;
    line-height: 120%;
    padding: 24px 60px 24px 60px;
    border-radius: 5px;
}



/*Custom Hero Button*/

/*
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

button {
  position: relative;
  z-index: 4;
  padding: 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.contact-wrapper {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  -webkit-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

.contact-wrapper.contact-wrapper--open {
  transform: translateX(-10px);
}

.contact-panel {
  background-color: #fff;
  border: 1px solid #333333;
  max-width: 500px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.contact-panel ul {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  text-align: center;
}

.contact-panel ul li {
  margin: 0 10px;
  display: inline-block;
}

.contact-panel ul li a {
  border-radius: 50%;
  color: #333333;
  height: 50px;
  width: 50px;
  display: inline-block;
  line-height: 50px;
  text-decoration: none;
  box-shadow: 0 1px 2px 1px rgba(170, 170, 170, 0.2);
  -webkit-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s;
}

.contact-panel ul li a:hover {
  box-shadow: 0 2px 5px 1px rgba(170, 170, 170, 0.6);
}

.contact-panel ul li a i {
  font-size: 20px;
  line-height: 50px;
}

.contact-panel__header {
  position: relative;
  background-color: #333333;
  color: #fff;
  font-size: 21px;
  line-height: 16px;
  padding: 15px;
  text-align: center;
  margin: 0;
}

.contact-close {
  border: 0;
  color: #ccc;
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 48px;
}

.contact-close:focus {
  outline: none;
}

.contact-button {
  border: 0;
  background-color: #333333;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  font-size: 16px;
  line-height: 20px;
  position: fixed;
  bottom: 30px;
  left: 155px;
  border-radius: 4px;
}

.contact-button:hover {
  background-color: #333333;
}


/*Custom Hero Button*/


body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

body:before {
    content: '';
    top: 0;
    width: 100%;
    height: 148px;
    background: #fff;
    position: absolute;
    z-index: 1;
    left: 0;
    border-bottom: 5px solid var(--primary);
}

#on-top {
    margin-right: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.side-nav {
    padding: 0;
    width: 100%;
    max-width: 1450px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    right: 0;
    background: transparent;
    border-radius: 5px;
}

.side-nav ul {
    margin-top: 0;
    transform: translateX(0);
}

.side-nav ul li {
    margin: 0 80px 0 0;
    text-align: right;
}

.call-us {
    font-size: 0.875em;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: normal;
    margin-left: 40px !important;
}

.call-us svg {
    width: 20px;
    margin-right: 10px;
    height: auto;
}

.side-nav a {
    padding: 20px 0;
    color: #000;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    font-size: 18px;
    text-transform: capitalize;
    position: relative;
}

.side-nav .schedule a {
    padding-top: 0;
    padding-bottom: 0;
    width: 194px;
    display: none;
}

.side-nav ul li a:hover:before {
    cursor: pointer;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    content: '';
    background: var(--primary);
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.side-nav .schedule a:hover {
    color: #000;
}

.side-nav .schedule a:hover:before {
    display: none;
}

.side-nav li {
    color: 333333;
}

#on-top li  {
    float: right;
}

.active-menu {
    border-right: none;
    border-bottom: 4px solid var(--primary);
}

.navbar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

#heroH1{
    position: relative;
    margin-top: 100px;
    font-family: "Gloria Hallelujah", system-ui;
    line-height: 150%;
    font-size: 90px;
    z-index: 3;
    margin-block-end: 60px;
}

#heroH2{
    position: relative;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 150;
    font-size: 32px;
    line-height: 135%;
    z-index: 3;
}

.heroImg{
    width: 663px;
    height: 855px;
    position: absolute;
    right: 0px;
    margin-top: -655px;
    z-index: 2;
}

#floatbtn{
    position: fixed;
    z-index: 10;
}

#gallery{
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
    height: 1868px;
    background-color: #F7F7F7;
}

/* .gallery{

    
} */

/*Start of gallery CSS*/
.box1{
    display: flex;
    gap: 50px;

}

.box1-row1{
    /* border: 1px solid black; */

    width: 635px;
    height: 730px;

    display: flex;
    flex-direction: column;
}

.box1-row2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 46px;
}

.box2-row1{
    height: 730px;
    width: 515px;
}