/************** Styles for Portfolio *****************/

.portfolio-div-wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 120px;
    margin-right: 120px;
    gap: 60px;

}

#project{
    width: 1200px;
    height: 600px;

    background-image: url("../images-portfolio/Man-Front-Building.png");
    background-repeat: no-repeat;
}

#corperate{
    width: 1200px;
    height: 600px;

    background-image: url("../images-portfolio/Women-Holding-Tool.png");
    background-repeat: no-repeat;
}

#people{
    width: 1200px;
    height: 600px;

    background-image: url("../images-portfolio/People-Img.png");
  
    margin-bottom: 200px;
}

/************* Styles for Portfolio ******************/

/************* Styles for Portfolio - Corperate ******************/

